extends layout

block content
  h1= title
  p Welcome to #{title}
  div(id="editor" style="height: 500px; width: 800px") | Type in a word like "will" below and press ctrl+space or alt+space to get "rhyme completion"
  div(id="commandline" style="position: absolute; bottom: 10px; height: 20px; width: 800px;")
