extends layout

block content
  form#gherkin-form
    div#status-bar.hidden
    div#editor(style="height: 260px; width: 100%")
    div#commandline(style="position: absolute; bottom: 10px; height: 20px; width: 900px;")
    input.button(type="submit" value="Save")
