doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  block content
  script(src="/javascripts/ace.js" type="text/javascript" charset="utf-8")
  script(src="/javascripts/ext-language_tools.js" type="text/javascript" charset="utf-8")
  script(src="/javascripts/theme-twilight.js" type="text/javascript" charset="utf-8")
  script(src="/javascripts/mode-gherkin.js" type="text/javascript" charset="utf-8")
  style.
    .success { color: green; display: block; margin-bottom: 1em; }
    .error { color: red; display: block; margin-bottom: 1em; }
    .info { color: #07c; display: block; margin-bottom: 1em; }
    .hidden { display: none; }
  script.
    var CONTEXT = {
        issueKey: 'STVS-910'
    };

    var form = document.getElementById('gherkin-form');
    var statusBar = document.getElementById('status-bar');

    form.addEventListener('submit', saveContent);

    function createError(response) {
        var error = new Error(response.statusText)
        error.response = response;

        return error;
    }

    function checkStatus(response) {
      if (response.status >= 200 && response.status < 300) {
        return response.json();
      } else {
        var error = createError(response);
        throw error;
      }
    }

    function validateResponse(response) {
        if (response.ok) {
            return checkStatus(response);
        } else {
            var error = createError(response);
            throw error;
        }
    }

    function setErrorStatus(error) {
        if (error.response) {
            error.response.text().then(function(text) {
                statusBar.innerText = text;
            });
        } else {
            statusBar.innerText = error.message;
        }

        statusBar.className = 'error';
    }

    function setSuccessStatus(message) {
        statusBar.className = 'success';
        statusBar.innerText = message;
    }

    function setInfoStatus(message) {
        statusBar.className = 'info';
        statusBar.innerText = message;
    }

    function saveContent(e) {
        e.preventDefault();

        var url = '/gherkin/' + encodeURIComponent(CONTEXT.issueKey);
        var body = {
            content: editor.getValue()
        };
        var headers = new Headers();

        headers.append('Content-Type', 'application/json');
        setInfoStatus('Saving feature file for issue key ' + CONTEXT.issueKey);

        fetch(url, {
            method: 'PUT',
            body: JSON.stringify(body),
            headers, headers
        })
        .then(validateResponse)
        .then(function() {
            setSuccessStatus('Successfully saved feature file');
        })
        .catch(setErrorStatus);
    }

    (function () {
        var url = '/gherkin/' + encodeURIComponent(CONTEXT.issueKey);

        fetch(url)
        .then(validateResponse)
        .then(function(data) {
            editor.setValue(data.raw);
            editor.clearSelection();
        })
        .catch(function(error) {
            if (error.response && error.response.status === 404) {
                return;
            }

            setErrorStatus(error);
        });
    }());

    if (!String.prototype.trim) {
        String.prototype.trim = function () {
            return this.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, '');
        };
    }
  script.
    var langTools = ace.require("ace/ext/language_tools");
    var GherkinMode = ace.require('ace/mode/gherkin').Mode;
    var STEP_REGEX = /^Given|When|Then|And|But/i;
    var editor = ace.edit("editor");

    editor.session.setMode(new GherkinMode());
    editor.setTheme('ace/theme/twilight');
    editor.setOptions({enableBasicAutocompletion: true});
    editor.$blockScrolling = Infinity

    // uses http://rhymebrain.com/api.html
    var stepCompleter = {
        getCompletions: function(editor, session, pos, prefix, callback) {
            var row = pos.row;
            var text = session.getLine(row).trim();

            if (text.length === 0 || !STEP_REGEX.test(text)) {
                return callback(null, []);
            }

            var url = '/gherkin/steps?q=' + encodeURIComponent(text);

            fetch(url)
            .then(validateResponse)
            .then(function(data) {
                var steps = data.map(function(step) {
                    return { value: step.text, meta: 'step' };
                });

                callback(null, steps);
            })
            .catch(setErrorStatus);
        }
    }

    langTools.setCompleters([stepCompleter]);
