doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  block content
  script(src="/javascripts/ace.js" type="text/javascript" charset="utf-8")
  script(src="/javascripts/ext-language_tools.js" type="text/javascript" charset="utf-8")
  script(src="/javascripts/theme-twilight.js" type="text/javascript" charset="utf-8")
  script(src="/javascripts/mode-gherkin.js" type="text/javascript" charset="utf-8")
  style.
    .success { color: green; display: block; margin-bottom: 1em; }
    .error { color: red; display: block; margin-bottom: 1em; }
    .hidden { display: none; }
  script.
    var CONTEXT = {
        issueKey: 'STVS-909'
    };

    function createError(response) {
        var error = new Error(response.statusText)
        error.response = response;

        return error;
    }

    function checkStatus(response) {
      if (response.status >= 200 && response.status < 300) {
        return response.json();
      } else {
        var error = createError(response);
        throw error;
      }
    }

    var form = document.getElementById('gherkin-form');
    var statusBar = document.getElementById('status-bar');

    form.addEventListener('submit', saveContent);

    function saveContent(e) {
        e.preventDefault();

        var url = '/gherkin/' + encodeURIComponent(CONTEXT.issueKey);
        var body = {
            content: editor.getValue()
        };
        var headers = new Headers();

        headers.append('Content-Type', 'application/json');

        fetch(url, {
            method: 'PUT',
            body: JSON.stringify(body),
            headers, headers
        })
        .then(function(response) {
            if (response.ok) {
                return checkStatus(response);
            } else {
                var error = createError(response);
                throw error;
            }
        })
        .then(function() {
            statusBar.className = 'success';
            statusBar.innerText = 'Successfully saved feature file';
        })
        .catch(function(error) {
            if (error.response) {
                error.response.text().then(function(text) {
                    statusBar.innerText = text;
                })
            } else {
                statusBar.innerText = error.message;
            }

            statusBar.className = 'error';
        });
    }
  script.
    var langTools = ace.require("ace/ext/language_tools");
    var GherkinMode = ace.require('ace/mode/gherkin').Mode;
    var editor = ace.edit("editor");

    editor.session.setMode(new GherkinMode());
    editor.setTheme('ace/theme/twilight');
    editor.setOptions({enableBasicAutocompletion: true});

    // uses http://rhymebrain.com/api.html
    var rhymeCompleter = {
        getCompletions: function(editor, session, pos, prefix, callback) {
          console.log(prefix)
          console.log(pos)
          console.log(session)
            if (prefix.length === 0) { callback(null, []); return }
            $.getJSON(
                'http://rhymebrain.com/talk?function=getRhymes&word=' + prefix,
                function(wordList) {
                    // wordList like [{"word":"flow","freq":24,"score":300,"flags":"bc","syllables":"1"}]
                    callback(null, wordList.map(function(ea) {
                        return {name: ea.word, value: ea.word, score: ea.score, meta: 'rhyme'}
                    }));
                })
        }
    }
    langTools.addCompleter(rhymeCompleter);
